<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.santa.secret.mapper.DbMapper">
    <resultMap id="mailTemplate" type="com.santa.secret.model.MailTemplate">
        <id column="t_id_mat" property="id"/>
        <result column="t_name" property="name"/>
        <result column="t_title" property="title"/>
        <result column="t_template" property="template"/>
        <result column="t_mail_type" property="typeMail"/>
    </resultMap>

    <sql id="mailTemplateShort">
        T.id_mat AS t_id_mat,
        T.name AS t_name,
        T.title AS t_title,
        T.mail_type AS t_mail_type
    </sql>

    <sql id="mailTemplate">
        T.id_mat AS t_id_mat,
        T.name AS t_name,
        T.title AS t_title,
        T.template AS t_template,
        T.mail_type AS t_mail_type
    </sql>

    <resultMap id="people" type="com.santa.secret.model.People">
        <id column="p_id_peo" property="id"/>
        <result column="p_name" property="name"/>
        <result column="p_surname" property="surname"/>
        <result column="p_email" property="email"/>
        <collection property="groups" resultMap="peopleGroup"/>
    </resultMap>

    <sql id="people">
        P.id_peo AS p_id_peo,
        P.name AS p_name,
        P.surname AS p_surname,
        P.email AS p_email
    </sql>

    <resultMap id="peopleGroup" type="com.santa.secret.model.PeopleGroup">
        <id column="g_id_peg" property="id"/>
        <result column="g_name" property="name"/>
    </resultMap>

    <sql id="peopleGroup">
        G.id_peg AS g_id_peg,
        G.name AS g_name
    </sql>

    <resultMap id="santa" type="com.santa.secret.model.Santa">
        <id column="s_id_sea" property="id"/>
        <result column="s_name" property="name"/>
        <result column="s_secret_santa_date" property="secretSantaDate"/>
        <result column="s_creation_date" property="creationDate"/>
        <result column="s_id_mat" property="creationDate"/>
        <result column="s_last_update" property="lastUpdate"/>
        <association property="mailTemplate" resultMap="mailTemplate"/>
        <collection property="runs" resultMap="run"/>
    </resultMap>

    <sql id="santa">
        S.id_sea AS s_id_sea,
        S.name AS s_name,
        S.secret_santa_date AS s_secret_santa_date,
        S.creation_date AS s_creation_date,
        S.last_update AS s_last_update
    </sql>

    <resultMap id="run" type="com.santa.secret.model.SantaRun">
        <id column="r_id_ser" property="id"/>
        <result column="r_creation_date" property="creationDate"/>
        <result column="r_last_update" property="lastUdpate"/>
        <collection property="peopleList" resultMap="runPeople"/>
    </resultMap>

    <sql id="run">
        R.id_ser AS r_id_ser,
        R.id_sea AS r_id_sea,
        R.creation_date AS r_creation_date,
        R.last_update AS r_last_update
    </sql>

    <resultMap id="runPeople" type="com.santa.secret.model.SantaRunPeople">
        <id column="rp_id_srp" property="id"/>
        <result column="rp_id_peo" property="idPeople"/>
        <result column="rp_id_peo_to" property="idPeopleTo"/>
        <result column="rp_mail_sent" property="mailSent"/>
        <collection property="exclusions" resultMap="exclusions"/>
    </resultMap>

    <sql id="runPeople">
        RP.id_srp AS rp_id_srp,
        RP.id_ser AS rp_id_ser,
        RP.id_peo AS rp_id_peo,
        RP.id_peo_to AS rp_id_peo_to,
        RP.mail_sent AS rp_mail_sent
    </sql>

    <resultMap id="exclusions" type="com.santa.secret.model.SantaRunExclusion">
        <id column="e_id_peo" property="idPeople"/>
    </resultMap>

    <sql id="exclusions">
        E.id_peo AS e_id_peo
    </sql>

    <select id="getTemplates" resultMap="mailTemplate">
        SELECT <include refid="mailTemplateShort"/> FROM mail_templates T order by T.name
    </select>

    <select id="getTemplate" resultMap="mailTemplate">
        SELECT <include refid="mailTemplate"/> FROM mail_templates T WHERE T.id_mat=#{id}
    </select>

    <insert id="insertTemplate" parameterType="mailTemplate" keyColumn="id_mat" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO mail_templates (name, title, template, mail_type)
        VALUES (#{name}, #{title,jdbcType=VARCHAR}, #{template,jdbcType=VARCHAR}, #{typeMail})
    </insert>

    <update id="updateTemplate" parameterType="mailTemplate">
        UPDATE mail_templates SET name=#{name}, title=#{title,jdbcType=VARCHAR}, template=#{template,jdbcType=VARCHAR}, mail_type=#{typeMail}
        WHERE id_mat=#{id}
    </update>

    <delete id="deleteTemplate">
        DELETE FROM mail_templates WHERE id_mat=#{id}
    </delete>

    <select id="getPeopleList" resultMap="people">
        SELECT <include refid="people"/>, <include refid="peopleGroup"/>
        FROM PEOPLE P
        LEFT JOIN PEOPLE_GROUP_MAPPING M ON P.id_peo = M.id_peo
        LEFT JOIN people_group G ON M.id_peg = G.id_peg
        ORDER BY P.name, P.surname, G.name
    </select>

    <insert id="insertPeople" useGeneratedKeys="true" keyProperty="id" keyColumn="id_peo" parameterType="com.santa.secret.model.People">
        INSERT INTO people(name, surname, email)
        VALUES (#{name,jdbcType=VARCHAR}, #{surname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
    </insert>

    <select id="getPeopleGroupList" resultMap="peopleGroup">
        SELECT <include refid="peopleGroup"/> FROM people_group G order by name;
    </select>

    <insert id="insertPeopleGroup" useGeneratedKeys="true" keyProperty="id" keyColumn="id_peg" parameterType="com.santa.secret.model.PeopleGroup">
        INSERT INTO people_group(name) VALUES (#{name})
    </insert>

    <update id="updatePeopleGroup" parameterType="com.santa.secret.model.PeopleGroup">
        UPDATE people_group SET name=#{name} WHERE id_peg=#{idPeg}
    </update>

    <insert id="insertPeopleGroupMapping">
        INSERT INTO people_group_mapping(id_peo, id_peg) VALUES (#{idPeo}, #{idPeg})
    </insert>

    <delete id="clearPeopleGroup">
        DELETE FROM people_group_mapping WHERE id_peo=#{idPeo}
    </delete>

    <delete id="deletePeopleGroup">
        DELETE FROM people_group WHERE id_peg=#{idPeg}
    </delete>

    <delete id="purgePeopleGroup">
        DELETE FROM people_group WHERE id_peg NOT IN (SELECT id_peg from people_group_mapping)
    </delete>

    <delete id="purgePeopleGroupMapping1">
        DELETE FROM people_group_mapping WHERE id_peo NOT IN (SELECT id_peo from people)
    </delete>

    <delete id="purgePeopleGroupMapping2">
        DELETE FROM people_group_mapping WHERE id_peg NOT IN (SELECT id_peg from people_group)
    </delete>

    <update id="updatePeople" parameterType="com.santa.secret.model.People">
        UPDATE people SET name=#{name,jdbcType=VARCHAR}, surname=#{surname,jdbcType=VARCHAR}, email=#{email,jdbcType=VARCHAR}
        WHERE id_peo=#{id}
    </update>

    <delete id="deletePeople">
        DELETE FROM people WHERE id_peo=#{id}
    </delete>

    <select id="getSantaList" resultMap="santa">
        SELECT <include refid="santa"/>, <include refid="mailTemplateShort"/> FROM secret_santa S LEFT JOIN mail_templates t on S.id_mat = t.id_mat
        ORDER BY S.last_update desc, S.id_sea desc
    </select>

    <select id="getSanta" resultMap="santa">
        SELECT <include refid="santa"/>, <include refid="mailTemplateShort"/>
        FROM secret_santa S LEFT JOIN mail_templates t on S.id_mat = t.id_mat
        WHERE id_sea=#{id}
    </select>

    <select id="getLastSanta" resultMap="santa">
        SELECT <include refid="santa"/>, <include refid="mailTemplateShort"/>
        FROM secret_santa S LEFT JOIN mail_templates t on S.id_mat = t.id_mat
        order by last_update desc limit 1
    </select>

    <insert id="insertSanta" keyColumn="id_sea" keyProperty="santa.id" useGeneratedKeys="true">
        INSERT INTO secret_santa (name, id_mat, secret_santa_date, creation_date, last_update)
        VALUES (#{santa.name,jdbcType=VARCHAR}, #{idTemplate,jdbcType=INTEGER}, #{santa.secretSantaDate,jdbcType=VARCHAR}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <update id="updateSanta">
        UPDATE secret_santa SET name=#{santa.name,jdbcType=VARCHAR}, id_mat=#{idTemplate,jdbcType=INTEGER}, secret_santa_date=#{santa.secretSantaDate,jdbcType=VARCHAR}, last_update=CURRENT_TIMESTAMP
        WHERE id_sea=#{santa.id}
    </update>

    <update id="deleteSanta">
        DELETE FROM secret_santa WHERE id_sea=#{id}
    </update>

    <select id="selectRunList" resultMap="run">
        SELECT <include refid="run"/>, <include refid="runPeople"/>
            FROM secret_santa_run R
            LEFT JOIN secret_santa_run_people RP on R.id_ser = RP.id_ser
            WHERE R.id_sea=#{idSanta} ORDER BY R.last_update desc, R.id_ser desc
    </select>

    <select id="selectRun" resultMap="run">
        SELECT <include refid="run"/>, <include refid="runPeople"/>, <include refid="exclusions"/>
            FROM secret_santa_run R
            LEFT JOIN secret_santa_run_people RP on R.id_ser = RP.id_ser
            LEFT JOIN secret_santa_run_exclusion E on RP.id_srp = E.id_srp
        WHERE R.id_ser=#{id}
    </select>

    <insert id="insertRun" useGeneratedKeys="true" keyProperty="r.id" keyColumn="r.id_ser">
        INSERT INTO secret_santa_run (id_sea, creation_date, last_update)
        VALUES (#{idSea}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <update id="updateRun" parameterType="SantaRun">
        UPDATE secret_santa_run SET last_update=CURRENT_TIMESTAMP WHERE id_ser=#{id}
    </update>

    <delete id="deleteRun">
        DELETE FROM secret_santa_run WHERE id_ser=#{id}
    </delete>

    <insert id="insertRunPeople" keyColumn="id_srp" keyProperty="rp.id" useGeneratedKeys="true">
        INSERT INTO secret_santa_run_people (id_ser, id_peo, id_peo_to, mail_sent)
        VALUES (#{idRun}, #{rp.idPeople}, #{rp.idPeopleTo,jdbcType=INTEGER}, #{rp.mailSent})
    </insert>

    <update id="updateRunPeople" parameterType="com.santa.secret.model.SantaRunPeople">
        UPDATE secret_santa_run_people SET id_peo_to=#{idPeopleTo,jdbcType=INTEGER}, mail_sent=#{mailSent}
        WHERE id_srp=#{id}
    </update>

    <insert id="insertExclusion">
        INSERT INTO secret_santa_run_exclusion (id_srp, id_peo)
        VALUES (#{idRunPeople}, #{e.idPeople})
    </insert>
</mapper>